################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/xibai-server/.vs/xibai-server
/.vs
/readme
*log
/openssl-3.1.3
/openssl-3.1.3.tar.gz
